{% extends 'TopTemplate.html' %}

{% block extra_css %}
{% endblock %}

{% block title %}Detalhes do Usuário{% endblock %}

{% block content %}
<body>
    <h1>Editar Usuário: {{ usuario.nome }}</h1>

    <!-- Exibe as informações não editáveis do usuário -->
    <div>
        <p><strong>Nome:</strong> {{ usuario.nome }}</p>
        <p><strong>Email:</strong> {{ usuario.email }}</p>
        <p><strong>Telefone:</strong> {{ usuario.telefone }}</p>
        <p><strong>Telefone Fixo:</strong> {{ usuario.telefone_fixo }}</p>
    </div>

    <!-- Exibe o formulário para editar apenas os campos de relação e tipo de usuário -->
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Exibe os campos editáveis (relacao e tipo de usuario) -->
        
        <button type="submit">Salvar Alterações</button>
    </form>

    <!-- Botão para excluir o usuário -->
    <form action="{% url 'deletar_usuario' usuario.email %}" method="POST" onsubmit="return confirm('Você tem certeza que deseja excluir este usuário?')">
        {% csrf_token %}
        <button type="submit" style="background-color: red; color: white;">Excluir Usuário</button>
    </form>

    <br>
    <a href="{% url 'gerenciarUsuarios' %}">Voltar para a lista de usuários</a>
</body>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% endblock %}
