{% extends 'TopTemplate.html' %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <style>
        .image-preview img {
        max-width: 100%; /* A imagem ocupará no máximo 100% da largura disponível */
        max-height: 200px; /* Limita a altura da imagem */
        object-fit: contain; /* Garante que a imagem seja redimensionada proporcionalmente */
        border: 1px solid #ddd; /* Adiciona uma borda para visualização */
        margin-bottom: 10px; /* Espaçamento abaixo da imagem */
        float: left; /* Faz a imagem flutuar à esquerda */
        margin-right: 15px; /* Espaçamento entre a imagem e o campo de upload */
        }

        .image-form {
            clear: both; /* Garante que o conteúdo depois da imagem não fique ao lado dela */
        }
        #map {
          height: 400px;
          width: 100%;
          position: relative;
        }
        .page {
            display: none;
        }
        .active {
            display: block;
        }
        .text-danger {
        color: red;
        font-size: 0.9em;
        }
        .form-group input.is-invalid, .form-group textarea.is-invalid {
            border-color: red;
        }
        
        .progress-indicator {
            display: flex;
            justify-content: space-between;
            position: relative;
            margin-bottom: 20px;
        }

        .step {
            text-align: center;
            width: 33%;
            position: relative;
        }

        .step span {
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 50%;
            background: #ddd;
            color: #000;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .step.active span {
            background: #70C296;
            color: #fff;
        }

        .step p {
            font-size: 12px;
            margin: 0;
        }

        .step::after {
            content: '';
            position: absolute;
            top: 15px;
            left: 50%;
            width: 100%;
            height: 4px;
            background: #ddd;
            z-index: -1;
        }

        .step.active::after {
            background: #70C296;
        }

        .step:first-child::after {
            left: 50%;
            width: 100%;
        }

        .step:last-child::after {
            width: 0;
        }
    </style>
 
{% endblock %}


{% block title %}Cadastro de ocorrências{% endblock %}

{% block content %}
<div class="container">


    {% if error_messages %}
        <div class="alert alert-danger">
            <ul>
                {% for message in error_messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}


        <form id="form_ocorrencia" method="POST" action="{% url 'formulario' %}" enctype="multipart/form-data" class="mt-4" novalidate>
            {% load crispy_forms_tags %}
            {% csrf_token %}
            <h2 class="container contentText">Formulário</h2>
            <hr width="250px">

            <div class="progress-indicator d-flex justify-content-between mb-4">
                <div class="step active">
                    <span>1</span>
                    <p>Informações Pessoais</p>
                </div>
                <div class="step {% if current_page >= 2 %}active{% endif %}">
                    <span>2</span>
                    <p>Informações do Animal</p>
                </div>
                <div class="step {% if current_page >= 3 %}active{% endif %}">
                    <span>3</span>
                    <p>Descrição</p>
                </div>
            </div>
            

            <!-- Página 1 -->
            <div class="content">
                <div class="page active " id="page1">
                    <h2 class="container contentText">Insira seus dados pessoais</h2>
                    <div class="form-group">
                        <label for="{{form.Nome_Autor.id_for_label}}">Nome do Autor</label>
                        <p>{{ form.Nome_Autor }}</p>
                        <p class="text-muted">Informe o seu nome completo.</p>
                        <div class="invalid-feedback">Este campo é obrigatório.</div>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.Celular_Autor.id_for_label }}">Celular do Autor</label>
                        <p>{{ form.Celular_Autor }}</p>
                        <p class="text-muted">Informe seu número de celular para contato.</p>
                        <div class="invalid-feedback">Este campo é obrigatório.</div>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.Telefone_Autor.id_for_label }}">Telefone do Autor</label>
                        <p>{{ form.Telefone_Autor }}</p>
                        <p class="text-muted">Informe seu número de telefone fixo (opcional).</p>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.Relacao_Autor.id_for_label }}">Relação com a UFRPE</label>
                        <p>{{ form.Relacao_Autor }}</p>
                        <p class="text-muted">Escolha sua relação com a UFRPE.</p>
                    </div>
                    <button type="button" class="btnLoggin" style="background-color: #70C296; color: aliceblue;" onclick="navigatePage(2)">Próximo</button>
                </div>
            </div>

            <!-- Página 2 -->
            <div class="content">
                <div class="page" id="page2">
                    <h2 class="container contentText">Informações do animal</h2>

                    <div class="form-group">
                        <label for="{{ form.Nome_Animal.id_for_label }}">Nome do Animal</label>
                        <p>{{ form.Nome_Animal }}</p>
                        <p class="text-muted">Informe o nome do animal envolvido.</p>
                    </div>
                    
                    <!-- Campo do ponto na rural -->
                    <div class="form-group">
                        <h3>Mapa da rural</h3>
                        <div id="map"> 
                            <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
                            <script>
                            // Inicialize o mapa
                            // Definindo os limites geográficos
                            var maxBounds = [[-8.032416227691224, -34.96295787378685], [-8.008066751036676, -34.937476728609184]]; // Região permitida
                            var currentMarker = null; // Variável para armazenar o marcador atual
                            // Inicializando o mapa
                            var map = L.map('map', {
                                center: [-8.017598865420956, -34.94933404268544], // Centro inicial
                                zoom: 15,
                                maxBounds: maxBounds,
                            });
                        
                            // Adiciona a camada de mapa (a base, usando o OpenStreetMap)
                            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                                attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
                                detectRetina: true
                            }).addTo(map);
                        
                            // Evento de clique no mapa
                            map.on('click', function(e) {
                                var lat = e.latlng.lat;
                                var lng = e.latlng.lng;

                                // Se já houver um marcador, remova-o
                                if (currentMarker) {
                                    map.removeLayer(currentMarker);
                                }

                                // Adiciona o novo marcador
                                currentMarker = L.marker([lat, lng]).addTo(map)
                                    .bindPopup("Você clicou aqui!")
                                    .openPopup();
                                // Atualiza os campos ocultos com as novas coordenadas
                                document.getElementById('id_Localizacao_x').value = lat;
                                document.getElementById('id_Localizacao_y').value = lng;
                            });
                            </script>
                        </div>
                    </div>
                    <!-- Campos ocultos para latitude e longitude -->
                    {{ form.Localizacao_x }}
                    {{ form.Localizacao_y }}

                    <div class="form-group">
                        <label for="{{ form.Referencia.id_for_label }}">Referência</label>
                        <p>{{ form.Referencia }}</p>
                        <p class="text-muted">Informe qualquer referência adicional sobre o caso.</p>
                    </div>

                    <div class="form-group">
                        <label for="{{ form.Tipo_Caso.id_for_label }}">Tipo de Caso</label>
                        <p>{{ form.Tipo_Caso }}</p>
                        <p class="text-muted">Escolha o tipo do caso ocorrido.</p>
                    </div>

                    <button type="button" class="btnLoggin" style="background-color: #D2A68D; color: aliceblue;" onclick="navigatePage(1)">Voltar</button>
                    <button type="button" class="btnLoggin" style="background-color: #70C296; color: aliceblue;" onclick="navigatePage(3)">Próximo</button>
                </div>
            </div>

            <!-- Página 3 -->
            <div class="content">
                <div class="page" id="page3">
                    <h2 class="container contentText">Descrição</h2>

                    <div class="form-group">
                        <label for="{{ form.Descricao.id_for_label }}">Descrição do Caso</label>
                        <p>{{ form.Descricao }}</p>
                        <p class="text-muted">Forneça uma descrição detalhada do caso.</p>
                    </div>
                    <!-- Campos para as imagens -->
                    <h3 class="container contentText">Imagens da Ocorrência</h3>
                    <p class="text-muted">Inserir imagens do animal e do Local</p>
                    <div id="imagens-container">
                        {{ formset.management_form }}
                        <div id="image-formset">
                            {% for imagem_form in formset %}
                                <div class="image-form" data-form-id="{{ forloop.counter0 }}">
                                    <!-- Container para a visualização da imagem acima do campo -->
                                    <div class="image-preview" id="image-preview-{{ forloop.counter0 }}"></div> 
                    
                                    <!-- Campo de upload da imagem -->
                                    {{ imagem_form.Image }}
                    
                                    <button type="button" class="remove-image-form btn btn-danger" style="margin-top: 5px;">Remover</button>
                                </div>
                            {% endfor %}
                        </div>
                        <button type="button" id="add-image-form" class="btn btn-primary mt-3">Adicionar Imagem</button>
                        <p class="text-muted">Adicione imagens relacionadas ao caso</p>
                    </div>                                        
                    <button type="button" class="btnLoggin" style="background-color: #D2A68D; color: aliceblue;" onclick="navigatePage(2)">Voltar</button>
                    <button type="button" class="btnLoggin" style="background-color: #70C296; color: aliceblue;" onclick="handleSubmit(event)" >Enviar</button>
                </div>
            </div>
        </form>
    </div>
    <script>

        function updateProgressIndicator(pageNumber) {
            const steps = document.querySelectorAll('.step');
            steps.forEach((step, index) => {
                if (index < pageNumber) {
                    step.classList.add('active');
                } else {
                    step.classList.remove('active');
                }
            });
        }

        function navigatePage(pageNumber) {
            const pages = document.querySelectorAll('.page');
            
            // Verifica se a página 2 está sendo ativada
            if (pageNumber === 2) {
                // Espera um tempo curto para garantir que o DOM foi renderizado
                setTimeout(function() {
                    // Verifica se o mapa existe antes de chamar invalidateSize
                    if (typeof map !== 'undefined') {
                        map.invalidateSize(); // Ajusta o mapa após a renderização da página 2
                    }
                }, 100);  // 100 ms para garantir o tempo de renderização
            }

            // Validação e navegação para outras páginas
            if (pageNumber > 1) {
                const currentPage = document.querySelector('.page.active');
                const invalidFields = currentPage.querySelectorAll(':invalid');
                if (invalidFields.length > 0) {
                    invalidFields[0].focus();
                    invalidFields.forEach(field => {
                        field.classList.add('is-invalid');
                        let errorElement = document.createElement('div');
                        errorElement.className = 'invalid-feedback';
                        errorElement.innerText = field.validationMessage;
                        if (!field.nextElementSibling) {
                            field.insertAdjacentElement('afterend', errorElement);
                        }
                    });
                    return;
                }
            }

            // Esconde todas as páginas e mostra a página escolhida
            pages.forEach(page => page.classList.remove('active'));
            document.getElementById('page' + pageNumber).classList.add('active');
            
            updateProgressIndicator(pageNumber);
        }

        function handleSubmit(event) {
            event.preventDefault();

            const form = document.getElementById('form_ocorrencia');
            const currentPage = document.querySelector('.page.active');
            const invalidFields = currentPage.querySelectorAll(':invalid');

            if (invalidFields.length > 0) {
                invalidFields[0].focus();
                invalidFields.forEach(field => {
                    field.classList.add('is-invalid');
                    let errorElement = document.createElement('div');
                    errorElement.className = 'invalid-feedback';
                    errorElement.innerText = field.validationMessage;
                    if (!field.nextElementSibling) {
                        field.insertAdjacentElement('afterend', errorElement);
                    }
                });
                return;
            }
            

            // Usando fetch para enviar o formulário via AJAX
            const formData = new FormData(form);
            console.log('Form Data:', formData);  // Log para depuração

            fetch(form.action, {
                method: 'POST',
                headers: {
                    'X-Requested-With': 'XMLHttpRequest' // Certifique-se de incluir isso
                },
                body: formData
            })

            .then(response => response.json())
            .then(data => {
                console.log(data);  // Log parsed data here
                for (const [key, value] of formData.entries()) {
                    console.log(`${key}: ${value}`);
                }

                    if (data.success) {
                        alert("Formulário enviado com sucesso!");
                        window.location.href = data.redirect_url;
                    } else {
                        alert('Erro: ' + data.errors.join('\n'));
                    }
                })
                .catch(error => {
                    console.error('Erro ao enviar o formulário:', error);
                    alert('Ocorreu um erro ao enviar o formulário.');
                });

        }
    </script>
    
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const addButton = document.getElementById('add-image-form');
            const formsetContainer = document.getElementById('image-formset');
            const managementForm = document.querySelector('[name="Imagens_registradas-TOTAL_FORMS"]');
            let limit = 10;
            let current = 3;

            // Adicionando evento para quando um arquivo for selecionado
            formsetContainer.addEventListener('change', function(event) {
                if (event.target && event.target.type === 'file') {
                    const formId = event.target.closest('.image-form').getAttribute('data-form-id');
                    const imagePreviewContainer = document.getElementById('image-preview-' + formId);
                    const file = event.target.files[0];

                    if (file) {
                        const reader = new FileReader();
                        reader.onload = function(e) {
                            const imgElement = document.createElement('img');
                            imgElement.src = e.target.result;
                            imgElement.classList.add('img-thumbnail', 'mt-2'); // Para estilizar a imagem com uma borda
                            imagePreviewContainer.innerHTML = ''; // Limpa qualquer imagem anterior
                            imagePreviewContainer.appendChild(imgElement); // Exibe a nova imagem
                        };
                        reader.readAsDataURL(file);
                    }
                }
            });

            if (addButton) {
                addButton.addEventListener('click', function() {
                    // Adiciona um novo formulário de imagem
                    const totalForms = parseInt(managementForm.value);
                    const newFormId = totalForms;

                    // Clonar o primeiro formulário de imagem
                    const imageForms = formsetContainer.querySelectorAll('.image-form');
                    const newForm = imageForms[0].cloneNode(true);
                    newForm.setAttribute('data-form-id', newFormId);

                    // Limpar a visualização de imagem para o novo formulário
                    const imagePreviewContainer = newForm.querySelector('.image-preview');
                    imagePreviewContainer.innerHTML = ''; // Limpar qualquer imagem anterior

                    // Resetar o campo de entrada de imagem
                    const imageInput = newForm.querySelector('input[type="file"]');
                    imageInput.value = ''; // Limpar o valor do campo de arquivo

                    // Atualizar o atributo 'name' para que ele siga a estrutura do formset
                    newForm.querySelector('input[type="file"]').name = `Imagens_registradas-${newFormId}-Image`;

                    // Criar um novo contêiner para a visualização de imagem
                    const newImagePreviewContainer = document.createElement('div');
                    newImagePreviewContainer.classList.add('image-preview');
                    newImagePreviewContainer.id = 'image-preview-' + newFormId;  // Atribui ID único para cada preview
                    
                    // Inserir o novo contêiner de visualização *antes* do campo de entrada de imagem
                    newForm.insertBefore(newImagePreviewContainer, newForm.querySelector('input[type="file"]'));

                    // Adicionar o novo formulário à lista
                    formsetContainer.appendChild(newForm);

                    // Adicionar evento de remoção ao novo formulário
                    newForm.querySelector('.remove-image-form').addEventListener('click', function() {
                        removeImageForm(newFormId);
                    });

                    // Atualizar o campo TOTAL_FORMS para refletir o novo número total de formulários
                    managementForm.value = totalForms + 1;
                    current++;
                    checkAddButton();
                });
            } else {
                console.error('Add image form button not found');
            }

            function removeImageForm(formId) {
                const formToRemove = formsetContainer.querySelector(`.image-form[data-form-id="${formId}"]`);
                if (formToRemove) {
                    formsetContainer.removeChild(formToRemove);
                    updateManagementForm(); // Atualiza o número total de formulários
                    current--;
                    checkAddButton();
                }
            }

            function updateManagementForm() {
                const forms = formsetContainer.querySelectorAll('.image-form');
                if (managementForm) {
                    managementForm.value = forms.length; // Atualiza o valor de TOTAL_FORMS
                } else {
                    console.error('Formset TOTAL_FORMS element not found when updating');
                }
            }

            function checkAddButton() {
                if (current >= limit) {
                    $('#add-image-form').prop('disabled', true); // Desativa o botão
                } else {
                    $('#add-image-form').prop('disabled', false); // Habilita o botão
                }
            }
        });
    </script>    
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js" integrity="sha384-+sLIOodYLS7CIrQpBjl+C7nPvqq+FbNUBDunl/OZv93DB7Ln/533i8e/mZXLi/P+" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
{% endblock %}