{% extends 'TopTemplate.html' %}


{% block content %}
<div class="contentText">
            <h2 style="margin: 10px 0px 0px 0px; color:#70C296">SOBRE NÓS</h2>
        </div>
        <div class="contentText">
            <h1 style="margin: 0px;">Quem Somos</h1>
            <hr width="250px">
        </div>
        <div class="contentText" style="color: gray; font-size: 18px;">
                O SAFER - Sistema de Apoio à Fauna em Emergências e Riscos é uma iniciativa desenvolvida para atender às necessidades das
            imediações da UFRPE, promovendo a proteção da fauna silvestre e a conscientização da comunidade local. O sistema é gratuito e
            estará disponivel via web, permitindo a notificação e o monitoramento de incidentes envolvendo animais silvestres.
            <br>
            <p>
                Como ferramenta de engajamento comunitário e ciência cidadă, o SAFER reforça o compromisso com a conservação da
            biodiversidade e a prevenção de impactos negativos no ambiente natural e rural da região.
            </p>
        </div>
        <div id="ocurrenceBox">
            <div class="content" style="height: 150px;">
                <div class="contentText ocurrence">
                    Viu algum acidente nas dependências da UFRPE?
                </div>
                <div class="contentText ocurrence">
                    Nos Informe!
                </div>
                <a href="{% url 'formulario' %}">
                    <button class="btnRegister" style="background-color: #70C296; color: aliceblue;">Registrar Chamado</button>
                </a>
            </div>
        </div>
        <!-- Mensagem de sucesso ou erro -->
        {% if messages %}
        {% for message in messages %}
            <script>
                alert("{{ message }}");  <!-- Exibe a mensagem de alerta -->
            </script>
        {% endfor %}
    '   {% endif %}
{% endblock %}