{% extends 'TopTemplate.html' %}

{% block extra_css %}
{% endblock %}

{% block title %}Meu perfil{% endblock %}

{% block content %}
    <div class="perfil-container">
        <h2>Perfil de {{ user.nome }}</h2>

        <p><strong>Email:</strong> {{ user.email }}</p>
        <p><strong>Nome:</strong> {{ user.nome }}</p>
        <p><strong>Telefone:</strong> {{ user.telefone }}</p>
        <p><strong>Telefone Fixo:</strong> {{ user.telefone_fixo }}</p>
        <p><strong>Relação com a UFRPE:</strong> {{ user.relacao_ufrpe }}</p>
        <p><strong>Tipo de Usuário:</strong> {{ user.tipo_usuario }}</p>

        <h3>Alterar Senha</h3>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="alterar_senha">
            
            <div class="form-group">
                <label for="{{ form.old_password.id_for_label }}">Senha atual</label>
                {{ form.old_password }}
                {% for error in form.old_password.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
            </div>
        
            <div class="form-group">
                <label for="{{ form.new_password1.id_for_label }}">Nova Senha</label>
                {{ form.new_password1 }}
                {% for error in form.new_password1.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
                <small class="form-text text-muted">{{ form.new_password1.help_text|safe }}</small>
            </div>
        
            <div class="form-group">
                <label for="{{ form.new_password2.id_for_label }}">Confirmar Nova Senha</label>
                {{ form.new_password2 }}
                {% for error in form.new_password2.errors %}
                    <div class="text-danger">{{ error }}</div>
                {% endfor %}
                <small class="form-text text-muted">{{ form.new_password2.help_text|safe }}</small>
            </div>
        
            <button type="submit" class="btn btn-primary">Alterar Senha</button>
        </form>
        

    <!-- Mensagem de sucesso ou erro -->
    {% if messages %}
        {% for message in messages %}
            <script>
                alert("{{ message }}");  <!-- Exibe a mensagem de alerta -->
            </script>
        {% endfor %}
    {% endif %}


        <h3>Excluir Conta</h3>
        <form method="post" onsubmit="return confirm('Tem certeza que deseja excluir sua conta? Esta ação não pode ser desfeita!');">
            {% csrf_token %}
            <input type="hidden" name="form_type" value="excluir_perfil">
            <button type="submit" class="btn btn-danger">Excluir Perfil</button>
        </form>
    </div>
{% endblock %}
