{% extends 'TopTemplate.html' %}

{% block extra_css %}
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <div class="container">
        <h1>Menu</h1>
        <a href="{% url 'formulario' %}"><button class="button">Registrar um chamado</button></a>
        <a href="{% url 'telaChamados' tipoChamado='meus-chamados' %}"><button class="button">Meus chamados</button></a>
        {% if user.tipo_usuario == 'admin' or user.tipo_usuario == 'gestor' or user.tipo_usuario == 'analista' %}
            <a href= "{% url 'telaChamados' tipoChamado='todos-os-chamados' %}" ><button class="button">Outros Chamados</button></a>
        {% endif %}
        {% if user.tipo_usuario == 'admin' or user.tipo_usuario == 'gestor' or user.tipo_usuario == 'analista' %}
            <a href= "{% url 'telaChamados' tipoChamado='chamados-aceitos' %}" ><button class="button">Chamados Aceitos</button></a>
        {% endif %}
        {% if user.tipo_usuario == 'admin' or user.tipo_usuario == 'gestor' or user.tipo_usuario == 'analista' %}
            <a href= "#" ><button class="button">Gerenciar Usuários</button></a>
        {% endif %}
        {% if user.tipo_usuario == 'admin' or user.tipo_usuario == 'gestor' or user.tipo_usuario == 'analista' %}
            <a href= "#" ><button class="button">Gerar Relatório</button></a>
        {% endif %}
        <a href= "{% url 'telaPerfil' username=user.nome%}" ><button class="button">Meu Perfil</button></a>
    </div>
{% endblock %}