{% extends 'TopTemplate.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock %}

{% block content %}

<!--Sistema de filtragem-->
<div class="container mt-5">
    <h1>{{ nome }}</h1>
    <hr>
    <form method="get" class="mb-3">
        <div class="row">
            <div class="form-group col-md-2">
                {{ form.Animal.label_tag }}
                {{ form.Animal }}
            </div>
            <div class="form-group col-md-2">
                {{ form.DataInicial.label_tag }}
                {{ form.DataInicial }}
            </div>
            <div class="form-group col-md-2">
                {{ form.DataFinal.label_tag }}
                {{ form.DataFinal }}
            </div>
            <div class="form-group col-md-2">
                {{ form.TipoCaso.label_tag }}
                {{ form.TipoCaso }}
            </div>
            <div class="form-group col-md-2">
                {{ form.Local.label_tag }}
                {{ form.Local }}
            </div>
            <div class="form-group col-md-2 d-flex align-items-end">
                <button type="submit" class="btn btn-success">Filtrar</button>
                <a href="{% url 'telaChamados' tipoChamado=nome %}" class="btn btnPadrao ml-2">Limpar Filtros</a>
            </div>
        </div>
    </form>
</div>
   
    
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="main-box clearfix">
                <div class="table-responsive">
                    <table class="table user-list">
                        <!-- Exibe a lista de ocorrências -->
                        <thead>
                            <tr>
                                <th><span>Descrição</span></th>
                                <th><span>Criado</span></th>
                                <th><span>Status</span></th>
                                <th><span>Animal</span></th>
                                <th><span>Local</span></th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        {% for ocorrencia in page_obj %}
                        <tbody>
                            <tr>
                                <td>
                                    <span class="user-subhead">{{ ocorrencia.Descricao }}</span>
                                </td>
                                <td class="user-subhead">
                                    <span class="user-subhead">{{ ocorrencia.DataHora|date:"d/m/Y H:i" }}</span>
                                </td>
                                <td class="user-subhead">
                                    <span class="user-subhead">{{ ocorrencia.Status }}</span>
                                </td>
                                <td class="user-subhead">
                                    <span class="user-subhead">{{ ocorrencia.Nome_Animal }}</span>
                                </td>
                                <td>
                                    <span class="user-subhead">{{ ocorrencia.Local }}</span>
                                </td>
                                <td style="width: 20%;">
                                    <a onclick="window.open('/chamado/{{ ocorrencia.id }}', '_blank')" class="table-link" style="color: royalblue;">
                                        <span class="fa-stack">
                                            <i class="fa fa-square fa-stack-2x"></i>
                                            <i class="fa fa-search-plus fa-stack-1x fa-inverse"></i>
                                        </span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                        {% endfor %}
                    </table>
                </div>
                <ul class="pagination pull-right">
                    <!--Exibe o sistema de páginas-->
                    {% if page_obj.has_previous %}
                        <li>
                            <a href="?page={{ page_obj.previous_page_number }}">
                                <i class="fa fa-chevron-left"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled">
                            <span><i class="fa fa-chevron-left"></i></span>
                        </li>
                    {% endif %}
                
                    {% for num in page_obj.paginator.page_range %}
                        {% if num == page_obj.number %}
                            <li class="active"><span>{{ num }}</span></li>
                        {% else %}
                            <li><a href="?page={{ num }}">{{ num }}</a></li>
                        {% endif %}
                    {% endfor %}
                
                    {% if page_obj.has_next %}
                        <li>
                            <a href="?page={{ page_obj.next_page_number }}" >
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </li>
                    {% else %}
                        <li class="disabled" >
                            <span><i class="fa fa-chevron-right"></i></span>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>


{% endblock %}
