{% extends 'TopTemplate.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/chamados.css' %}">
{% endblock %}

{% block title %}Tela Chamado{% endblock %}

{% block content %}

{% if messages %}
    {% for message in messages %}
        <script>alert("{{ message }}");</script>
    {% endfor %}
{% endif %}

<div class="container">
    <h3>Detalhes da Ocorrência</h3>
    <hr>
    <div class="row"> 
        <div class="col lg-6">
            <div class="card lg-6">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <strong>Autor:</strong>
                        </div>
                        <div class="col-sm-8 text-secondary">
                            {{ ocorrencia.Nome_Autor }}
                        </div>                        
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <strong>Celular:</strong>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ ocorrencia.Celular_Autor }}
                        </div>                        
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <strong>Telefone:</strong>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {% if ocorrencia.Telefone_Autor %}
                                {{ ocorrencia.Telefone_Autor }}
                            {% else %}
                                Telefone/Ramal não informado.
                            {% endif %}
                        </div>                        
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <strong>Relação com a UFRPE:</strong>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ ocorrencia.get_Relacao_Autor_display }}
                        </div>                        
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <strong>Tipo do Caso:</strong>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ ocorrencia.get_Tipo_Caso_display }}
                        </div>                        
                    </div>         
                </div>
            </div>
        </div>
        <div class="col lg-6">
            <div class="card lg-6">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <strong>Nome do Animal:</strong>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ ocorrencia.Nome_Animal }}
                        </div>                        
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <strong>Local:</strong>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ ocorrencia.get_Local_display }}
                        </div>                        
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <strong>Referência:</strong>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ ocorrencia.Referencia }}
                        </div>                        
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <strong>Data e Hora:</strong>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ ocorrencia.DataHora|date:"d/m/Y H:i" }}
                        </div>                        
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <strong>Status:</strong>
                        </div>
                        <div class="col-sm-9 text-secondary">
                            {{ ocorrencia.get_Status_display }}
                        </div>                        
                    </div>         
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <strong class="col md3">Descrição:</strong>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col md3">
                            {{ ocorrencia.Descricao }}
                        </div>                        
                    </div>
                </div>                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col lg-6">
            <div class="card lg-6">
                <div class="card-body">
                    <div class="row">
                        <strong class="col md3">Imagens:</strong>
                    </div>
                    <hr>
                    {% if imagem %}
                        {% for img in imagem %}
                            <p><img src="{{ img.Image.url }}" alt="Ocorrência" style="max-width: 200px; height: auto; margin-bottom: 10px;"></p>
                        {% endfor %}
                    {% else %}
                        <p><em>Sem imagens disponíveis</em></p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <strong class="col md3">Observações:</strong>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col md3">
                            {% if observacoes %}
                                <div class="list-group">
                                    {% for obs in observacoes %}
                                        <div class="list-group-item">
                                            <p><strong>{{ obs.autor.nome }}</strong> - <em>{{ obs.dataHora|date:"d/m/Y H:i" }}</em></p>
                                            <p id="obs-texto-{{ obs.id }}">{{ obs.corpo }}</p>
                                            
                                            {% if obs.autor == user %}

                                                <!-- Botão de Editar -->
                                                <button type="button" class="btn btn-warning btn-sm" 
                                                    onclick="editarObservacao('{{ obs.id }}', '{{ obs.corpo|escapejs }}')">
                                                    Editar
                                                </button>

                                                <!-- Botão de Excluir -->
                                                <form method="POST" action="{% url 'telaDetalhesChamado' ocorrencia.id %}" style="display:inline;">
                                                    {% csrf_token %}
                                                    <input type="hidden" name="form_type" value="excluir_observacao">
                                                    <input type="hidden" name="observacao_id" value="{{ obs.id }}">
                                                    <button type="submit" class="btn btn-danger btn-sm">Excluir</button>
                                                </form>
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>   
                            {% else %}
                                <p class="mt-4"><em>Não há observações registradas para esta ocorrência.</em></p>
                            {% endif %}
                        </div>                       
                    </div>
                    <div class="row">
                        <div class="col lg3">
                            <button id="btnMostrar" class="btn btn-info" onclick="mostrarAtualizacao()">Adicionar</button>

                            <!-- Div oculta que será exibida -->
                            <div id="divAtualizacao" class="mt-3 p-3 border rounded bg-light" style="display: none;">
                                <strong class="lg-3">Adicionar Observação</strong>
                                <hr>
                
                                <form method="POST" action="{% url 'telaDetalhesChamado' ocorrencia.id %}" class="mt-3">
                                {% csrf_token %}
                                <input type="hidden" name="form_type" id="form_type" value="adicionar_observacao">
                                <input type="hidden" name="observacao_id" id="observacao_id">
            
                                <div class="form-group">
                                    <label for="{{ form.corpo.id_for_label }}"></label>
                                    {{ form.corpo }}
                                </div>
            
                                <button type="submit" class="btn btn-primary" id="botao-form">Salvar</button>
                                    <!-- Botão para esconder a div -->  
                                <button class="btn btn-secondary" onclick="fecharAtualizacao()">Fechar</button>
                                </form>            
                            </div>
                        </div>                        
                    </div> 
                </div>                
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="d-flex flex-wrap gap-2">
            {% if user.tipo_usuario in resgatistas and ocorrencia.Status == 'aberto' %}
                <form method="POST" action="{% url 'telaDetalhesChamado' ocorrencia.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="aceitar_chamado">
                    <button type="submit" class="btn btn-success mx-2">Gerar Resgate</button>
                </form>
            {% endif %}
    
            {% if user.tipo_usuario == 'admin' or ocorrencia.Resgatista == user or user == ocorrencia.Autor and ocorrencia.Status == 'aberto' %}
                <a href="{% url 'telaAtualizarChamado' ocorrencia.id %}" class="btn btn-info mx-2">Atualizar</a>
    
                <!-- Botão para deletar a ocorrência -->
                <form method="POST" action="{% url 'deletar_chamado' ocorrencia.id %}" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="form_type" value="deletar_ocorrencia">
                    <button type="submit" class="btn btn-danger mx-2">Deletar Ocorrência</button>
                </form>
            {% endif %}
        </div>
    </div>
                   
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js">
</script>

<script>
    function mostrarAtualizacao() {
    document.getElementById("divAtualizacao").style.display = "block"; // Mostra a div
    document.getElementById("btnMostrar").style.display = "none"; // Esconde o botão "Atualizar"
    }

    function fecharAtualizacao() {
        document.getElementById("divAtualizacao").style.display = "none"; // Esconde a div
        document.getElementById("btnMostrar").style.display = "inline-block"; // Mostra o botão "Atualizar" de novo
    }

    function editarObservacao(id, corpo) {
        document.getElementById("observacao_id").value = id;
        document.getElementById("id_corpo").value = corpo; // Corrigido para preencher corretamente o campo de texto
        document.getElementById("form_type").value = "editar_observacao";

        document.getElementById("titulo-form").innerText = "Editar Observação"; 
        document.getElementById("botao-form").innerText = "Atualizar"; 

        document.getElementById("cancelar-edicao").style.display = "inline"; // Exibe o botão de cancelar
    }

    function cancelarEdicao() {
        document.getElementById("observacao_id").value = "";
        document.getElementById("id_corpo").value = "";
        document.getElementById("form_type").value = "adicionar_observacao";

        document.getElementById("titulo-form").innerText = "Adicionar Observação"; 
        document.getElementById("botao-form").innerText = "Salvar"; 

        document.getElementById("cancelar-edicao").style.display = "none"; // Esconde o botão de cancelar
    }
</script>

{% endblock %}
