#map {
height: 400px;
width: 100%;
position: relative;
}
.page {
    display: none;
}
.active {
    display: block;
}
.text-danger {
color: red;
font-size: 0.9em;
}
.form-group input.is-invalid, .form-group textarea.is-invalid {
    border-color: red;
}

.progress-indicator {
    display: flex;
    justify-content: space-between;
    position: relative;
    margin-bottom: 20px;
}

.step {
    text-align: center;
    width: 33%;
    position: relative;
}

.step span {
    display: inline-block;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background: #ddd;
    color: #000;
    font-weight: bold;
    margin-bottom: 5px;
}

.step.active span {
    background: #70C296;
    color: #fff;
}

.step p {
    font-size: 12px;
    margin: 0;
}

.step::after {
    content: '';
    position: absolute;
    top: 15px;
    left: 50%;
    width: 100%;
    height: 4px;
    background: #ddd;
    z-index: -1;
}

.step.active::after {
    background: #70C296;
}

.step:first-child::after {
    left: 50%;
    width: 100%;
}

.step:last-child::after {
    width: 0;
}

.btnLoggin.loading {
    position: relative;
    pointer-events: none;
    padding-right: 40px; /* Espaço para o spinner */
}

.btnLoggin.loading::after {
    content: "";
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border: 3px solid rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    to { transform: translateY(-50%) rotate(360deg); }
}