header {
    background-color: #6DA2D1;
    min-height: 200px;
    min-width: 100%;
}

body{
    margin: 0;
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}

.navbar .navbar-nav .nav-link {
    color: white !important;
}

.btnLoggin {
    margin: 0.5rem 2rem 0.5rem 1rem;
    border: none;
    border-radius: 10px;
    height: 2rem;
    width: 6rem;
}

.btnRegister {
    border: none;
    border-radius: 10px;
    height: 2.5rem;
    width: 10rem;
}

.inpLoggin {
    margin: 0.5rem;
    border: none;
    border-radius: 10px;
    height: 2rem;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contentText {
    text-align: center;
    width: 70%; 
    font-family: Arial, Helvetica, sans-serif;
}

.container .contentText {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.contentText.ocurrence {
    color: aliceblue;
    font-size: 100%;
    margin: 1%;
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

#hrContentTop {
    display: flex;
    justify-content: flex-end;
}

#hrContentTopLogado {
    display: flex;
    justify-content: flex-end;
}

#welcomeMessage {
    color: aliceblue;
    font-size: 100%;
    margin-right: 5%;
}

#hrInput {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 30%;
    height: 20%;
}

#hrButton {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 20%;
}

#passwordRecover {
    font-size: 80%;
    text-decoration: none;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 10px;
}

#headerLeft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    float: left;
    min-height: 200px;
}

#headerRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    min-height: 200px;
}

#hlContent {
    display: flex;
    justify-content: flex-start;
    height: 200px;
}

#hlTextContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
}

#ocurrenceBox {
    width: auto;
    height: 25%;
    background-color: #D2A68D;
    border-radius: 5px;
}

img {
    float: right; /* Faz a imagem flutuar para a esquerda */
    margin-right: 30px; /* Cria uma margem direita de 20 pixels */
    margin-left: 20px; /* Cria uma margem esquerda de 20 pixels */
}

.popup-notificacao {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.3);
    opacity: 0.9;
    z-index: 1000;
    transition: opacity 0.3s ease;
}

.fechar-popup {
    position: absolute;
    top: 5px;
    right: 8px;
    background: none;
    border: none;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

.fechar-popup:hover {
    color: #ff4d4d;
}

@media (max-width: 992px) {
    header {
        height: 10%;
    }

    .contentText {
        width: 90%; 
    }

    #ocurrenceBox {
        width: 90%;
    }

    #welcomeMessage {
        font-size: 90%;
    }

    #hrContentTop {
        justify-content: flex-start;
    }

    #hrInput {
        width: 50%;
    }

    #headerLeft {
        width: 100%;
    }

    #hrContentTopLogado {
        justify-content: flex-start;
    }
}
